@import 'normalize.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

:root {
	--bg-color: #566b78;

	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

body {
	max-width: 60ch;

	margin: 0 auto;
	padding: 4em 1em;

	font-size: clamp(1rem, 1rem + 0.5vw, 1.2rem);

	line-height: 1.5; /* TODO */

	color: var(--bg-color);
}

h1,
h2,
strong {
	color: #333;
}

code,
pre {
	background: #eee;
}

pre {
	overflow-x: auto;
	padding: 1rem;
}

a {
	color: #e81c4f;
}

blockquote {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: -40px;
		height: 100%;
		width: 2px;
		background-color: #333;
	}
}

iframe {
	width: 100%;
}

/* spacing */
main > * + * {
	margin-top: 3rem;
}
