<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Fluid responsive design | Layout</title>
		<link rel="stylesheet" type="text/css" href="../styles.css" />
	</head>
	<body>
		<h1>Layout/Component patterns</h1>

		<blockquote>
			(Sometimes) It's better to provide suggestions rather than diktats about the way the visual design is laid out. An
			overuse of <code>@media</code> breakpoints can easy come about when we try to <i>fix</i> designs to different
			contexts and devices. By only suggesting to the browser how it should arrange our layout boxes, we move from
			creating multiple layouts to single <i><b>quantum layouts</b></i> existing simultaneously in different states.
		</blockquote>

		<h2>Patterns:</h2>
		<ul>
			<li><a href="./un-holy-albatros.html">The (Un)Holy Albatros AKA container query for the poor</a></li>
			<li><a href="./full-bleed.html">Full bleed</a></li>
			<li>
				<a href="./responsive-multi-column-grid-system-RAM.html"
					>Responsive multi-column grid system or RAM (repeat, auto, minmax)</a
				>
			</li>
			<li>
				<a href="./the-raven-technique.html">The Raven Technique</a>
			</li>
		</ul>

		<p>And when you put it all together:</p>
		<iframe height="400px" src="https://codepen.io/argyleink/embed/LYEegOO" frameborder="0"></iframe>

		<iframe height="400px" src="https://codepen.io/filipjakov/embed/XWjxMpR" frameborder="0"></iframe>
	</body>
</html>
